/** 
 * wp-common.css
 *	url		:	http://commoncss.com/wordpress/wp-common-css/
 *	version	:	1.1
 *	author	:	matt say ( http://shailan.com )
 *	
 *	Common css classes needed for wordpress themes.
 */

a[rel~="attachment"] img,.gallery a img,.wp-caption { 
	background-color: #F3F3F3;
	border: 1px solid #ddd;
	padding: 3px;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
} a[rel~="attachment"] img:hover,.gallery a img:hover, .wp-caption:hover { border: 1px solid #09c; }
.wp-caption a img, .wp-caption a img:hover { padding: 4px 0px 0px; border: 0 none; }
.wp-caption .wp-caption-text { margin: 4px 0 2px; }

img.wp-smiley { border: none !important; padding: 0 0 0 5px !important; }

.alert { background: #FFF6BF; text-align: center; margin: 10px auto; padding: 4px 20px; }
.hidetext { text-indent: -9999px; }

.rss-link{ padding-left:18px; background:url(images/icons/rss.gif) 0 50% no-repeat; }
.logged-in a[rel~="nofollow"]{border-bottom:1px dashed #ccc;}
#lightbox{z-index:598;} 


pre{ background:#f0f0f0; padding:10px; border:2px solid #ccc; border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px; margin:10px; }
code{ background:#f0f0f0; padding:5px; }
div.note, .note{ background: #FFFBBC; border: 2px solid #E6DB55; margin:10px; padding:10px; padding-left:20px; border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px; font-style:oblique; }
div.warning, .warning{border:2px solid #bb7777; background:#ffcccc; margin:10px; padding:10px; padding-left:20px; border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px; font-style:oblique;}