/** Body text */
body,
.page-title span,
.pingback a.url {
	/* font: normal normal normal 75%/normal 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana, Arial, sans-serif; */
	font: normal normal normal 75%/normal "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit]
{
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
#featured,
.entry-content,
h1.blog-title, 
h2.blog-title{
	font-family: Georgia, Palatino Linotype, Times, Times New Roman, serif;
}

.edit-link a{
	font-family: Verdana, sans-serif;
}












/** Blog title */
h1.blog-title, h2.blog-title{ font-size: 4em; line-height:38px; font-weight:500; 
		text-shadow: #333 1px 1px 3px; }

#header .description{ text-shadow: #000 0px 1px 3px; font-size:1.2em; font-style:oblique; }

.single h1.blog-title, .page h1.blog-title, h2.blog-title{font-size:3.4em; line-height: 34px;}
	
.page-head h1{ font-size: 1.6em; font-weight:500; text-shadow: #aaa 1px 1px 0.1em; background:#ddd; 
		padding:4px 8px; border-bottom-left-radius: 4px 4px;
		border-bottom-right-radius: 4px 4px;
		border: none;
		border-top-left-radius: 4px 4px;
		border-top-right-radius: 4px 4px; }

.four04 .entry-title, body.page #current-content .entry-title, .entry-title { 
		margin:5px 0px; 
		text-align:left; 
		font-weight:500; 
		text-shadow: rgba(0, 0, 0, 0.0078125) 0px 0px 0px; }
		

.entry-title  a {text-decoration:none;}

.entry-title, #content h2, #content h3 {
	text-shadow: #666 0px 1px 1px; font-weight:500; line-height:24px; letter-spacing:2px;
	font-family: Georgia, Helvetica, sans-serif; line-height:24px;
	font-style:italic;
}

.widgettittle, .widget-title, .widgets h4, .widget .widgettitle{
	font-size: 1.8em; font-weight:500; 
	font-family: Georgia, Helvetica, sans-serif; line-height:24px;
	font-style:italic; 
}

#content h2{font-size:2em}
#content h3{font-size:1.8em}
#content h4{font-size:1.5em; font-style:oblique; }
#content h5{font-size:1.2em; font-style:oblique; }
#content h6{font-size:1em; font-style:oblique; }

.entry-content h4, .entry-meta h4, .entry-content h3 { margin:5px 0px; text-shadow: rgba(0, 0, 0, 0.0078125) }

.archive-meta{ font-size:1.3em; text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 0px; }

#leavecomment, .comments #loading, #comments-closed-msg{font-family: Georgia, Helvetica, sans-serif; font-size:3em; text-shadow: #fff 1px 1px 0.1em; }

#content{
	font-family: Georgia, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing:1px;
}


.entry-content blockquote { font-style: oblique; }
#footer a { font-weight: normal; }
a { text-decoration: none; }
.entry-content div.toc { font-size: 80%; }
.edit-link a { font-size: 9px; }
#content .entry-title,#content .entry-title a,
#featured .entry-title,#featured .entry-title a { font-size: 30px; }
#footer .siteadmin a { font-weight: normal; }
#footer .siteadmin a:hover { text-decoration: none !important; }
#footer .widget-title { text-shadow: #222 0px 1px 3px; }
#footer a { font-weight: bold; }
#footer a:hover { text-decoration: none; }
#nav-images a { text-decoration: none; }
.entry-meta { font-size: 12px; font-style: italic; }
.image-meta span { font-weight: bold; }
.widget_tag_cloud a { white-space: nowrap; }
div#fw_tabs_tabdisplay_1.first ul.tabbed_sidebar li.tab h3, #sidebar ul div#fw_tabs_tabdisplay_1.first ul.tabbed_sidebar li.tab h3 { font-size: 12px; }
#header .description a { text-decoration: underline; }
#header ul.menu li a { text-decoration: none; }
#header ul.menu li a:hover { text-decoration: underline; }
#q, #s { font-size: 13px; }
.widget_search { font-size: 90%; }
#powered-by { font-size: 10pt; }