/**
 * Theme: SLATE.css
 *	Version	:	0.1
 *	Author	:	Matt Say ( http://shailan.com )
 *
 */
 

body { color: #444; background:#999; }
#wrapper { background:#eee; }
h1, h2,h3,h4,h5,h6 {color:#555;}
a{ text-decoration:none; color:#27d; }
a:visited{ color:#27d; }
a:hover{text-decoration:underline; color:#27d;}  

li.admintab a{ background:#666; }
#wrapper , .tab-content ul, .entry-bottom-widget ul, #primary .widget ul, #secondary .widget ul, .tab-content ul li, .entry-bottom-widget ul li, #secondary .widget ul li, #primary .widget ul li, .hentry, #respond, #comments-list #respond, .countdown{ border-color:#bbb; }

#header { background: #435b67 url(images/header-bg.jpg) bottom center no-repeat; border-bottom:1px solid #153f61; }
#header a, #header a:hover{color:#fff;}
#header .description{ color:#fff; }
#header .description a{ color:#fff; text-decoration:underline; }

.entry-meta{color:#444;}
.entry-meta a{color:#555;}
.entry-meta a:hover{color:#96d2e0;}

.wp-caption , #sidebar-2 .ngg-widget img, #sidebar-1 .ngg-widget img {
	border: 1px solid #ccc;
	background: #fff;
}
.post .wp-caption:hover {
		border: 1px solid #999;
}
	.entry-content div.toc{
		border:2px solid #ccc; 
		background:#eee;
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-khtml-border-radius: 8px; float:right; width:auto; margin-left:10px; padding:5px; font-size:80%;}
	.entry-content div.toc ol{margin:0px;}
		
	.more-link{ font-size:80%; }
	.more-link a:after {content: "\0020\21D2";}
	
	.wp-post-image{padding:0px; margin:0px;}
	
	.entry-thumb{ float:left; padding:0px; margin-left:-95px; width:80px; height:80px; 
		background:#eeeeee url("images/no-image.gif") 50% 50% no-repeat; 
		border:0px solid #666;
		overflow:hidden;
		}
	.entry-thumb img{ width:80px; height:80px; vertical-align:middle; }
	.entry-thumbnail  { border:2px solid #666; padding:2px; margin-left:10px; }
	
	.entry-content div {margin:auto;}
	.entry-content p{ margin:0px 0px 13px 0px; }
	
	.entry-foot .widget{margin:0px 0px 20px;}
	.entry-foot .m2-esubscribe p{text-align:center; margin:0px; background:#fbf8ca; 
		padding:4px 8px; border-bottom-left-radius: 4px 4px;
		border-bottom-right-radius: 4px 4px;
		border: 2px solid #ffcc00;
		border-top-left-radius: 4px 4px;
		border-top-right-radius: 4px 4px;
		color: #444; }
		
	.entry-foot .m2-esubscribe input[type~="text"]{
		background:#fbf8ca; border:0px; border-bottom:2px dashed #ffcc00; width:260px; 
	}
		
	ul.related_post{
		margin:0px;
		border-top:1px solid #ddd;
		list-style-type:none;
		display:block;
		margin-top:5px;
	}
	ul.related_post li{
		border-bottom:1px solid #ddd;
		padding:5px 8px;
	}
	.tab-content ul, .entry-bottom-widget ul, #primary .widget ul, #secondary .widget ul {margin:1em 0;
		border-top-width:2px;
		border-top-style:solid;
		list-style-type:none;
		display:block;
		margin-top:5px;} 
	.tab-content ul li, .entry-bottom-widget ul li, #secondary .widget ul li, #primary .widget ul li{ 
		border-bottom-width:1px; 
		border-bottom-style: solid;
		padding:5px 8px;}
		
	.entry-content blockquote{padding:20px; border-left:2px solid #6f8d97; margin:10px; font-style:oblique;}
	.entry-content blockquote p, .entry-content blockquote ul, .entry-content blockquote ol, .entry-content blockquote div{margin:0px;}

	
	.archive-meta{ background: #eee; padding:10px; }

/* COMMENTS */
 
 
.comments { clear: both; text-align: left; position: relative; margin:0px 0px 20px; padding-top:20px; }
	
	#comments-list {  }
	#comments-list ol { list-style-type:none; margin:10px; }
	
	.bypostauthor{ background:#e6f6df; }
	.byuser { background:#f2f2f2; }
	
	#comments-list .avatar, #comments-list .gravatar{ float:left; margin-right:5px; }
	#comments-list li {position:relative;}
	#comments-list li .comment-author{ margin:0px; height:32px; margin-bottom:5px; border-bottom:1px solid #ddd;}
	#comments-list li .comment-meta{position:absolute; top:0px; right:0px; padding:0px; margin:0px; color:#aaa;}
	#comments-list li .comment-meta a{ color:#ccc; }
	#comments-list li .comment-meta a:hover{ color:#666; }
	
	#comments-list li .comment{ padding:0px; margin:10px; clear:both; }
	
	#comments-list li .buttons {margin-bottom:10px; /*text-align:right;*/}
	
	#respond, #comments-list #respond{ border-top-width:2px; border-top-style:solid; color:#666; background:#2b2b2b; padding:10px; 
		overflow:hidden;}
	#respond a, #respond a:hover, #comments-list #respond a{ color:#888; }
	#comments-list #respond h4, #respond h4{color:#999;}
	
	#commentform input[type="text"]{border:none; border-bottom:1px dashed #999; background:#dedede;}
	#commentform textarea {background:#333; border:2px solid #222; width:98%; }
	
	
/* GALLERY */
#nav-images{clear:both; text-align:center;}
#nav-images .nav-previous{ display:inline; width:80px; height:80px; }
#nav-images .nav-next{ display:inline; width:80px; height:80px; }
#nav-images .entry-attachment{ display:inline; } #nav-images .entry-attachment img{ vertical-align:middle; }
#nav-images .entry-caption{display:inline; margin:0px; }

#nav-images .nav-previous img, #nav-images .nav-next img  { height: 80px; width: 80px; vertical-align:middle; }

.attachment{position:relative;}

#nav-images {
	/*top: -3.2em;
	margin: 0;
	position: relative;	
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;*/
	}

#nav-images a {
	text-decoration: none;
	}

#nav-images a span {
	display: block;
	}

.attachment .post {
	margin-left: 60px;
	}

.template-image .post {
	margin-left: 0;
	}

.attachment-icon {
	position: absolute;
	top: 0;
	left: -60px;
	}

.attachment-image {
	text-align: center;
	}

.attachment-image .caption {
	margin: 0;
	}

.attachment-image .caption p {
	display: inline;
	}

.image-meta {
	padding: 10px 0 10px 20px;
	list-style-type: circle;
	}

.image-meta li {
	margin: 3px 0;
	}

.image-meta span {
	font-weight: bold;
	display: block;
	float: left;
	width: 8em;
	}
	
/* SIDEBAR & WIDGETS */

.widget{margin:0px;}
.widget_search {text-align:center; width:300px; padding:5px; border:1px solid #6f8d97; margin:15px auto !important; color:#fff; font-size:90%}

/* Tag Cloud Module */

.widget_tag_cloud {
	line-height: 2em;
	}

.widget_tag_cloud li {
	display: inline;
	}

.widget_tag_cloud a {
	padding: 0 2px;
	white-space: nowrap;
	}

/* FOOTER */

#footer {
	clear: both;
	text-align: center;	
	padding: 0px; margin:0px auto; min-height:30px; color:#999; }

#footer p {
	line-height: 1.6em;
	}

#footer a {
	color: #888;
	font-weight: bold;
	}

#footer a:hover {
	border: none;
	text-decoration: none;
	color: #999;
	}

#footer .siteadmin a { /* 'Site Admin' Button */
	position: fixed;
	top: 5px;
	right: 5px;
	color: #333;
	z-index: 1000;
	background: #cfcfcf;
	padding: 5px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: normal;
	}

#footer .siteadmin a:hover {
	background: #333;
	color: #fff;
	text-decoration: none !important;
	}

#footer .wp-version,
#footer .k2-version {
	display: none;
	padding-left: 0.3em;
	}

.footerstats {
	display: none;
	}
	
	
	#footer a{ font-weight:normal; color:#777; }
	#footer a:hover{ text-decoration:underline; }
	#footer-widgets{  }
	#footer-widgets li.widget{ float:left; width:285px; text-align:left; padding-left:10px; border-left:1px solid #999;}
	ul#footer-widgets>li:first-child{ border:none; }
	ul#footer-widgets, #footer-widgets .widget ul{margin:1em 0;
		list-style-type:none;
		display:block;
		margin-top:5px;} 
	
	.footerpoweredby{ float:right; text-align:right; }
	.footerfeedlinks{ float:left; text-align:left; }
	
