/* SHAILAN FRAMEWORK Widgets mod */
/*

div.widget-liquid-left {
	float: right;
	margin-right: 0px;
	width: 300px;
}

div#widgets-left {
	margin-left: 5px;
	margin-right: 5px;
}

div.widget-liquid-right {
	clear: left;
	float: left;
	width: 500px;
}

div#widgets-right {
	margin: 0px auto;
	width: 500px;
}

*/